* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        to bottom,
        #009f92 0%,
        #009f92 20%,
        #dcdfda 20%,
        #dcdfda 100%
    );
}

.container {
    width: 80%;
    height: 95%;
    min-width: 900px;
    background-color: #ffffff;
}