* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

i {
    color: #b8b8b8;
    font-size: 22px;
    margin: 0 10px;
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        to bottom,
        #009f92 0%,
        #009f92 20%,
        #dcdfda 20%,
        #dcdfda 100%
    );
}


/* utility */
.d-fl {
    display: flex;
}

.brd-r {
    border-radius: 50%;
}

.al-it{
    align-items: center;
}

.input-ut {
    padding: 6px 7px;
    height: 40px;
    width: 85% ;
    border: 0;
    border-radius: 10px;
    outline: none;
    margin-left: 15px;
    color: grey;
}


/* CONTAINER */
.container {
    width: 80%;
    height: 95%;
    min-width: 900px;
    background-color: #ffffff;
}


.left-side, .right-side {
    height: 100%;
}

/* LEFT SIDE */
.left-side {
    width: 35%;
    overflow-y: auto;
}

/* user section */
.user-section {
    background-color: #ececec;
    justify-content: space-between;
    padding: 10px 15px;
}

.user-section img {
    max-width: 50px;
}

/* notifications-banner */
.not-banner {
    background-color: #99defc;
    padding: 17px 15px;
}

.not-banner i {
    padding: 12px 9px;
    background-color: #f4fbff;
    color: #99defc;
}

.not-banner .not-a {
    display: block;
    text-decoration: underline;
    color:  #5c8091;
    font-size: 13px;
    margin-top: 3px;
    font-weight: bold;
}


/* input-text */

.input-text {
    padding: 10px 25px;
}

.input-text i {
    font-size: 16px;
}

.input-text input:focus {
    border: 2px solid #99defc;
}

/* contact */

.contact-list {
    list-style: none;
    padding: 0 25px;
    font-size: 17px;
}

.contact {
    margin-bottom: 20px;
}
.contact:hover {
    background-color: #e0dede;
}

.contact img {
    max-width: 60px;
    margin-right: 20px;
}



/* RIGHT SIDE*/
.right-side {
    width: 65%;
    border-left: 1px solid lightgray;
    flex-direction: column;
    justify-content: space-between;
}

/* header */
.right-side header {
    background-color: #ececec;
    justify-content: space-between;
    padding: 10px 15px;
}

header  img {
    max-width: 50px;
    margin-right: 15px;
}

.header-acces {
    color: #767d80;
    font-size: 13px;
    font-weight: bold;
}

/* main */
main {
    background-image: url(../img/mine.jpg);
    flex-grow: 1;
    overflow-y: auto;
}

.message-container {
    width: 85%;
    margin: 60px auto;
}

.sent {
    width: 40%;
    margin: 5px;
    padding: 15px 10px 5px;
    background-color: #d8fac1;
    border-radius: 10px;
    font-size: 15px;
    position: relative;
    left: 60%;
}

.received {
    width: 40%;
    margin: 5px 0;
    padding: 15px 10px 5px;
    background-color: #ffffff;
    border-radius: 10px;
    font-size: 15px;
}

.mess-date {
    font-size: 12px;
    color: rgb(179, 177, 177);
    text-align: end;
}

/* footer */
footer {
    padding: 20px 30px;
    justify-content: space-between;
}

footer input:focus {
    border: 2px solid #99defc;
}

footer i {
    color: #767d80;
    font-size: 25px;
}