* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

i {
    color: #b8b8b8;
    font-size: 22px;
    margin: 0 10px;
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        to bottom,
        #009f92 0%,
        #009f92 20%,
        #dcdfda 20%,
        #dcdfda 100%
    );
}


/* utility */
.d-fl {
    display: flex;
}

.brd-r {
    border-radius: 50%;
}

.al-it{
    align-items: center;
}


/* CONTAINER */
.container {
    width: 80%;
    height: 95%;
    min-width: 900px;
    background-color: #ffffff;
}


.left-side, .right-side {
    height: 100%;
}

/* LEFT SIDE */
.left-side {
    width: 35%;
}

/* user section */
.user-section {
    background-color: #ececec;
    justify-content: space-between;
    padding: 10px 15px;
}

.user-section img {
    max-width: 50px;
}

/* notifications-banner */
.not-banner {
    background-color: #99defc;
    padding: 17px 15px;
}

.not-banner i {
    padding: 12px 9px;
    background-color: #f4fbff;
    color: #99defc;
}

.not-banner .not-a {
    display: block;
    text-decoration: underline;
    color:  #5c8091;
    font-size: 13px;
    margin-top: 3px;
    font-weight: bold;
}


/* input-text */

.input-text {
    padding: 10px 25px;
}

.input-text i {
    font-size: 16px;
}

.input-text input {
    padding: 6px 7px;
    height: 40px;
    width: 400px ;
    border: 0;
    border-radius: 10px;
    outline: none;
    margin-left: 15px;
    color: grey;
}
.input-text input:focus {
    border: 2px solid #99defc;
}

/* contact */

.contact-list {
    list-style: none;
    padding: 0 25px;
    font-size: 17px;
}
.contact {
    margin-bottom: 20px;
}

.contact img {
    max-width: 60px;
    margin-right: 20px;
}



















/* RIGHT SIDE*/
.right-side {
    width: 65%;
}